@media (max-width: 1440px) {
  .container {
    max-width: 1340px;
  }

  .bg__grig-1920 {
    display: none;
  }

  .bg__grig-1440 {
    display: block;
  }

  .event__wrapper {
    max-width: 1068px;
  }

  .events-picture-1920 {
    display: none;
  }

  .events-picture-1440 {
    display: block;
  }

  .grid {
    width: 100%;
    max-width: 1068px;
    margin: 0 auto;
    margin-bottom: 129px;
  }

  .grid__item {
    max-width: 510px;
  }

  .grid__paragraph {
    letter-spacing: 0px;
  }

  .ellipse {
    width: 469px;
    top: -79px;
    right: -57px;
  }

  .corners {
    max-height: 426px;
    top: -20px;
    left: -28px;
  }

  .spiral {
    max-width: 390.56px;
    top: -105px;
    right: -106px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 969px;
  }

  .bg__grig-1440 {
    display: none;
  }

  .bg__grig-1024 {
    max-width: 924px;
    display: block;
  }

  .header__wrapper {
    flex-direction: column;
    padding: 29px 0px 24px;
  }

  .header__logo {
    z-index: 5;
    margin: 0;
    margin-bottom: 15px;
  }

  .event__wrapper {
    max-width: 796px;
  }

  .events__name {
    font-size: 94.64px;
    margin-top: 66px;
  }

  .events-picture-1440 {
    display: none;
  }

  .events-picture-1024 {
    display: block;
    margin-top: -32px;
    margin-bottom: 52px;
  }

  .events__title {
    font-size: 37px;
    padding-left: 43px;
    margin-bottom: 108px;
    margin-left: 5px;
  }

  .grid {
    max-width: 796px;
    gap: 89px 37px;
    margin-bottom: 93px;
  }

  .grid__item {
    max-width: 380px;
  }

  .grid__title {
    font-size: 1.173em;
    margin-bottom: 25px;
  }

  .grid__paragraph {
    font-size: 0.782em;
  }

  .btn {
    font-size: 0.782em;
  }

  .grid__btn {
    padding: 13px 32px;
    margin-top: 24px;
  }

  .ellipse {
    width: 349px;
    top: -56px;
    right: -43px;
  }

  .corners {
    height: 318px;
    top: -17px;
    left: -21px;
  }

  .spiral {
    max-width: 291px;
    top: -75px;
    right: -79px;
  }

  .footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 37px 0;
  }

  .footer__navbar {
    width: 100%;
    margin-right: 0;
  }

  .footer__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .footer__copyright {
    align-self: center;
    margin: 0;
    margin-right: 46px;
  }

  .footer__social {
    transform: translateY(2px);
  }

  .social__link {
    transform: translateY(0px);
  }

  .social__link:not(:last-child) {
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 708px;
  }

  .bg__grig-1024 {
    display: none;
  }

  .bg__grig-768 {
    display: block;
  }

  .header__wrapper {
    flex-direction: row;
    padding-top: clamp(1.38rem, calc(0.11rem + 5.64vw), 2.81rem);
    padding-bottom: clamp(1.38rem, calc(0.22rem + 5.15vw), 2.69rem);
  }

  .header__logo {
    margin: 0;
    margin-right: 30px;
  }

  .header__hr {
    max-width: 309px;
    display: block;
    margin: 0;
    margin-right: 30px;
  }

  .header__wallet {
    display: block;
    z-index: 5;
    margin-right: 30px;
  }

  .header__burger {
    display: block;
  }

  .menu {
    width: 100%;
    height: 100vh;
    position: absolute;
    right: -100%;
    top: 0px;
    background-color: var(--color-bg);
    visibility: hidden;
    will-change: transform;
    transition: transform 0.5s, visibility 0.5s;
    padding: 120px 60px 30px;
  }

  .menu__list {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .menu__item {
    width: max-content;
    margin-bottom: 20px;
  }

  .menu__link {
    color: var(--color-white);
    font-family: "Unbounded";
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    align-self: flex-start;
    text-align: left;
    padding: 0px;
  }

  .header.open .menu {
    visibility: visible;
    transform: translateX(-100%);
  }

  .event__wrapper {
    max-width: 562px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-areas:
      "aa"
      "cc"
      "bb";
  }

  .events__name {
    font-size: clamp(2rem, calc(1.45rem + 2.45vw), 2.63rem);
    line-height: 140%;
    margin-top: 37px;
    margin-bottom: 18px;
  }

  .events__title {
    max-width: 483px;
    border: none;
    font-size: 24px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
  }

  .events-picture {
    margin-top: 0;
  }

  .events-picture-1024 {
    display: none;
  }

  .events-picture-768 {
    display: block;
    margin: 0;
    margin-bottom: 95px;
  }

  .grid {
    grid-template-columns: 1fr;
    row-gap: 17px;
    justify-items: center;
    grid-template-areas:
      "dd"
      "ee"
      "gg"
      "ff"
      "hh"
      "ii"
      "kk"
      "jj"
      "ll"
      "mm";
    margin-bottom: 91px;
  }

  .item-1 {
    grid-area: dd;
  }
  .item-2 {
    grid-area: ee;
  }
  .item-3 {
    grid-area: ff;
  }
  .item-4 {
    grid-area: gg;
  }
  .item-5 {
    grid-area: hh;
  }
  .item-6 {
    grid-area: ii;
  }

  .item-7 {
    grid-area: jj;
  }

  .item-8 {
    grid-area: kk;
  }

  .item-9 {
    grid-area: ll;
  }

  .item-10 {
    grid-area: mm;
  }

  .grid__item {
    max-width: 562px;
  }

  .grid__img-card {
    max-height: 399px;
    border-radius: 16px;
    object-fit: cover;
  }

  .grid__title {
    font-size: clamp(1.13rem, calc(0.79rem + 1.47vw), 1.5rem);
    line-height: 24px;
    margin-bottom: 15px;
  }

  .grid__paragraph {
    font-size: clamp(0.88rem, calc(0.54rem + 1.47vw), 1.25rem);
    line-height: 22px;
    text-align: start;
    margin: 0;
  }

  .grid__btn {
    display: none;
  }

  .grid__btn-mob {
    width: 100%;
    display: block;
    font-size: 16px;
    padding: 16px 0;
    margin-top: 18px;
    margin-bottom: 0;
  }

  .card__open-btn,
  .modal__close-btn {
    top: 8px;
    right: 8px;
    border-radius: 6px;
  }

  .card__play,
  .card__cross {
    width: 17px;
    height: 17px;
  }

  .card__scope {
    width: 20px;
    height: 20px;
  }

  .ellipse,
  .corners,
  .spiral {
    display: none;
  }

  .decor:not(:last-child) {
    border-bottom: 1px solid var(--color-line);
    padding-bottom: 38px;
    margin-bottom: 23px;
  }

  .footer__wrapper {
    justify-content: space-between;
    padding: 32px 0;
  }

  .footer__navbar {
    display: none;
  }

  .footer__copyright {
    margin: 0;
  }

  .social__link {
    transform: translateX(-1.5px);
  }

  .social__link svg {
    width: 18px;
    height: 18px;
  }

  .social__link:not(:last-child) {
    margin-right: 13px;
  }
}

@media (max-width: 710px) {
  .menu {
    padding-left: 30px;
  }
}

@media (max-width: 500px) {
  .header__hr {
    display: none;
  }

  .events {
    margin-top: 100px;
  }

  .card__play,
  .card__cross {
    width: 15px;
    height: 15px;
  }

  .card__scope {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 360px) {
  .container {
    max-width: 360px;
  }

  .bg__grig-768 {
    display: none;
  }

  .bg__grig-360 {
    display: block;
  }

  .header__logo {
    margin: 0;
  }

  .header__hr {
    display: none;
  }

  .header__wallet {
    transform: translateY(0px);
    margin: 0;
  }

  .header__burger {
    transform: translateY(-2px);
  }

  .menu {
    padding-left: 30px;
  }

  .events-picture-768 {
    display: none;
  }

  .events-picture-360 {
    display: block;
    margin-bottom: 98px;
  }

  .events__name {
    font-size: 32px;
    margin-top: 45px;
    margin-bottom: 24px;
  }

  .events__title {
    font-weight: 500;
    font-size: 24px;
  }

  .grid {
    margin-bottom: 40px;
  }

  .grid__item {
    max-width: 300px;
  }

  .grid__img-card {
    max-height: 213px;
  }

  .grid__paragraph {
    font-size: 14px;
  }

  .footer__wrapper {
    padding: 32px 0px;
  }
}
